/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .riscado{
 	text-decoration:  line-through;
 }

 input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    box-shadow: inset 0 0 0 2px #e38f00 !important;
}

 .button.special{
 	background-color: #e38f00 !important;
 }

  input.special{
 	background-color: #e38f00 !important;
 }

 .show{
 	opacity: 1 !important;
 	-webkit-appearance: checkbox !important;
 }
